<%- include('html_head') %>
<style>
    body {
        background-color: #f5f5f5;
    }

    button {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<%- include('html_head_foot') %>

<div class="container">
    <div class="row" id="msg-bar" style="display: none">
        <div class="col">
            <div class="alert" role="alert"></div>
        </div>
    </div>
    <div id="formdiv" class="row" style="margin-top: 60px">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>

                    <form name="form1" id="form1" method="POST" onsubmit="return checkForm()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label class="inputCity" for="inputAccount">帳號 (請輸入5個字以上)</label>
                                <input type="text" class="form-control" id="inputAccount" name="inputAccount"
                                    style="text-transform:lowercase;" autofocus required>
                            </div>
                            <div class="col-md-6">
                                <label class="inputCity" for="inputName">會員名稱 (請輸入4個字以上)</label>
                                <input type="text" class="form-control" id="inputName" name="inputName" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="inputCity" for="inputPassword1">密碼 (請輸入8個字以上)</label>
                                <input type="password" class="form-control" id="inputPassword1" name="inputPassword1"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="inputCity" for="inputPassword2">確認密碼</label>
                                <input type="password" class="form-control" id="inputPassword2" name="inputPassword2"
                                    required>
                                <div class="invalid-feedback" id="checkPw">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label class="inputCity">性別</label><br>
                                <div class="form-check form-check-inline">
                                    <input id="male" name="gender" type="radio" value="1" class="form-check-input"
                                        checked required>
                                    <label class="form-check-label" for="male">男</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="female" name="gender" type="radio" value="2" class="form-check-input">
                                    <label class="form-check-label" for="female">女</label>
                                </div>
                            </div>

                            <div class="form-group col-md-4 align-self-end">
                                <label class="inputCity" for="inputBirthYear">出生日期</label>
                                <select class="form-control" name="inputBirthYear" id="inputBirthYear"
                                    onchange="getDaysInMonth()">
                                    <option value="" selected>年</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 align-self-end">
                                <!-- <label class="inputCity"></label> -->
                                <select class="form-control" name="inputBirthMonth" id="inputBirthMonth"
                                    onchange="getDaysInMonth()">
                                    <option value="" selected>月</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 align-self-end">
                                <!-- <label class="inputCity"></label> -->
                                <select class="form-control" name="inputBirthDay" id="inputBirthDay">
                                    <option value="" selected>日</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="inputCity" for="inputIdno">身份證字號</label>
                                <input type="text" class="form-control" id="inputIdno" name="inputIdno"
                                    pattern="[a-zA-Z]{1}[1-2]{1}[\d]{8}" style="text-transform:uppercase;" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="inputCity" for="inputPhoneNo">手機號碼</label>
                                <input type="text" class="form-control" id="inputPhoneNo" name="inputPhoneNo"
                                    pattern="[\d]{10}" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <label class="inputCity" for="email">Email</label>
                                <input type="email" class="form-control" id="inputEmail" name="inputEmail" required>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4  align-self-end">
                                <label class="inputCity">通訊地址</label>
                                <select class="form-control" name="inputCity" id="inputCity" onchange="District()">
                                    <option value="" selected>選縣市</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6  align-self-end">
                                <label class="inputCity"></label>
                                <select class="form-control" name="inputDistrict" id="inputDistrict"
                                    onchange="autoAddress()">
                                    <option value="" selected>選地區</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2  align-self-end">
                                <label class="inputCity"></label>
                                <input type="text" class="form-control" id="inputDistrictNo" name="inputDistrictNo">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col">
                                <!-- <label for="inputAddress"></label> -->
                                <input type="text" class="form-control" id="inputAddress" name="inputAddress" required>
                            </div>
                        </div>

                        <div class="form-row justify-content-end">
                            <button type="button" class="btn btn-primary" id="btnCancel" name="btnCancel"
                                onclick="javascript:location.href='/login'">CANCEL</button>
                            <button type="submit" class="btn btn-primary" id="btnRegister" name="btnRegister">SIGN
                                UP</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('scripts') %>
<script>
    $(document).ready(function () {
        getYearsnMonth();
        getDaysInMonth();
        City();
    });</script>
<%- include('birthday') %>
<%- include('address') %>
<%- include('registerCheckForm') %>
<%- include('html_foot') %>